@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
@import './components/register';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

nav{
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
  margin: 0 10px;

  
  .nav-link{
    text-decoration: none;
    margin: 0 10px;

  }
}

// ----audioplayer
.trackinfo {
  height: 50px;
  background-color: grey;
  bottom: auto;
}
.audioplayer {
  position: fixed;
  bottom: 5px;
}

//----profile

.profile-box{
  width: 80vw;
  margin: 20px auto;
  padding: 20px;

  .profile-user{
    padding: 10px;
    text-align: center;
    min-height: 50px;
  }

}
