* {
  box-sizing: border-box;
}

nav{
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
  margin: 0 10px;

  
  .nav-link{
    text-decoration: none;
    margin: 0 10px;

  }
}